@font-face
{
	font-family: 'Futura PT Medium';
	src: url('../fonts/FuturaPTMedium.otf') format('opentype');
	font-display: swap;
}

@font-face
{
	font-family: 'Futura PT Light';
	src: url('../fonts/FuturaPTLight.otf') format('opentype');
	font-display: swap;
}

@font-face
{
	font-family: 'Futura PT Condensed';
	src: url('../fonts/FuturaPTCondBookOblique.otf') format('opentype');
	font-display: swap;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

body 
{
	animation: fadeInAnimation ease 500ms;
	margin: 0;
	padding: 0;
	background-color: #22223b;
	font-family: 'Futura PT Medium';
}

.top
{
	margin-left: 9%;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom: -5%;
	color: #f2e9e4;
}

.top-links
{
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
}

.links
{
	display: flex;
}

.links > a
{
	font-size: 120%;
	margin: 0 0 0 35px;
}

.top > hr
{
	border-color: #c9ada7;
	margin-top: 1%;
}

.introduction
{
	color: #c9ada7;
	text-align: left;
	margin-left: 9%;
	margin-top: 10%;
	font-size: 150%;
	font-weight: 400;
	font-family: 'Futura PT Condensed';
}

.name
{
	color: #f2e9e4;
	text-align: left;
	margin-left: 10%;
	margin-top: -1%;
	font-size: 400%;
	font-family: 'Futura PT Medium';
}

.subheading
{
	color: #D4CFC7;
	font-weight: 500;
	font-size: larger;
	text-align: left;
	line-height: 1.4;
	margin-top: 7%;
	margin-left: 10%;
	font-family: 'Futura PT Light';
}

.social-media
{
	text-align: right;
	margin-top: 11%;
	margin-right: 10%;
	line-height: 0.8;
}

.social-media > h3
{	
	color: #D4CFC7;
	font-family: 'Futura PT Light';
	font-weight: 500;
}

a:link 
{
	color: #f67280;
	text-decoration: none;
}

a:visited 
{
	color: #f67280;
}

a:hover 
{
	color: #c06c84;
	text-decoration: underline;
}

@media screen and (prefers-reduced-motion: no-preference) {
	html,
	body {
	  scroll-behavior: smooth;
	}
}