@font-face
{
	font-family: 'Futura PT Medium';
	src: url('Fonts/Futura/FuturaPTMedium.otf') format('opentype');
	font-display: swap;
}

@font-face
{
	font-family: 'Futura PT Light';
	src: url('Fonts/Futura/FuturaPTLight.otf') format('opentype');
	font-display: swap;
}

@font-face
{
	font-family: 'Futura PT Condensed';
	src: url('Fonts/Futura/FuturaPTCondBookOblique.otf') format('opentype');
	font-display: swap;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

body 
{
	animation: fadeInAnimation ease 500ms;
	margin: 0;
	padding: 0;
	background-color: #22223b;
	font-family: 'Futura PT Medium';
}

.introduction
{
	color: #c9ada7;
	text-align: left;
	margin-left: 9%;
	margin-top: 10%;
	font-size: 150%;
	font-weight: 400;
	font-family: 'Futura PT Condensed';
}

.name
{
	color: #f2e9e4;
	text-align: left;
	margin-left: 10%;
	margin-top: -1%;
	font-size: 400%;
	font-family: 'Futura PT Medium';
}

.subheading
{
	color: #D4CFC7;
	font-weight: 500;
	font-size: larger;
	text-align: left;
	line-height: 1.4;
	margin-top: -2%;
	margin-left: 10%;
	font-family: 'Futura PT Light';
}

.social-media
{
	text-align: right;
	margin-top: 6%;
	margin-right: 5%;
	line-height: 0.8;
}

.social-media > h3
{	
	color: #D4CFC7;
	font-family: 'Futura PT Light';
	font-weight: 500;
}

a:link 
{
	color: #f67280;
}

a:visited 
{
	color: #f67280;
}

a:hover 
{
	color: #c06c84;
}

@media screen and (prefers-reduced-motion: no-preference) {
	html,
	body {
	  scroll-behavior: smooth;
	}
}