@font-face
{
	font-family: 'Futura PT Medium';
	src: url('../fonts/FuturaPTMedium.otf') format('opentype');
	font-display: swap;
}

@font-face
{
	font-family: 'Futura PT Light';
	src: url('../fonts/FuturaPTLight.otf') format('opentype');
	font-display: swap;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}


body, html 
{
	animation: fadeInAnimation ease 500ms;
    height: 100%;
    background-color: #22223b;
    font-family: 'Futura PT Medium';
}

.top
{
	margin-left: 9%;
	margin-right: 8.9%;
	margin-top: 1%;
	margin-bottom: -5%;
	color: #f2e9e4;
}

.top-links
{
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
}

.links
{
	display: flex;
}

.links > a
{
	font-size: 120%;
	margin: 0 0 0 35px;
}

.top > hr
{
	border-color: #c9ada7;
	margin-top: 1%;
}

h1
{
	color: #f2e9e4;
	font-weight: 500;
	text-align: center;
    font-family: 'Futura PT Medium';
}

h3
{
	color: #f2e9e4;
	font-weight: 500;
	text-align: center;
    font-family: 'Futura PT Light';
    margin-top: 4%;
}

#CVImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 #1e2022, 0 6px 20px 0 #1e2022;
}

a:link 
{
	color: #f67280;
	text-decoration: none;
}

a:visited 
{
	color: #f67280;
}

a:hover 
{
	color: #c06c84;
	text-decoration: underline;
}

@media screen and (max-width: 991px) {
	#CVImage {
		width: 100%;
	}
}