body
{
    color:#dbefef;
    background:#3c4856;
    white-space: pre;

    font:18px/1.5 'Roboto';
}

h2
{
    margin-bottom: -9%;
    text-align: center;
    font-size: xx-large;
}

h3
{
    font-size: xx-large;
    line-height: 250%;
}

.topImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    animation: fadein 1.5s;
    margin-bottom: -6%;
    margin-top: -2%;
}

li {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.75);
    transition: 0.5s;
    background: #737E8A;
    list-style-type: none;
    border-radius: 10px;
}

li p
{
    white-space: pre-wrap;
    margin: 0 0 0 10px;
}

li h2
{
    margin: 10px 0 10px 10px; 
}

li img
{
    float: left;
    margin: 10px 15px 0 10px;
    width: 64px;
    border-radius: 10px;
}
 
li:hover {
    background: #54606F;
    cursor: pointer;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}