body
{
    color:#d2eae5;
    background:#171717;
    white-space: pre;
}

#patchnotesbutton
{
    background: #2A3840;
    transition: 0.25s;
}

#patchnotesbutton:hover
{
    background: #70C989;
}

.media
{
    background: #2A3840;
    transition: 0.25s;
}

.media:hover
{
    background: #70C989;
    cursor: pointer;
}